// Navigation Styles here

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 3rem 3rem 0;
  border-bottom: 2px dashed #c0c0c0;
  &__page-title {
    font-size: 5rem;
    font-weight: bold;
  }
  &__navbar {
    &--link {
      color: black;
      font-size: 1.8rem;
      text-decoration: none;
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}
